<div class="card-container m-2">
    <div class="p-2">
      <div *ngIf="pokemonSprites.length > 0">
        <img *ngFor="let spriteUrl of pokemonSprites" [src]="spriteUrl" alt="Pokemon Sprite">
      </div>
      
      <span>No. {{pokemonId}}</span>
      <h4 *ngIf="pokemonData">{{pokemonData.name | titlecase}}</h4>
      
      <button *ngIf="pokemonData" class="btn-pokedex position-relative" (click)="addToPokedex({ id: pokemonId, name: pokemonData.name })">
        <img src="assets/pokeball-gif.gif" alt="Pokeball" class="pokeball-image-gif-pokedex position-absolute" style="left: -30px; top: 50%; transform: translateY(-50%);">
        <span class="mx-2">Add to Pokédex</span>
        <!-- <img src="../../../assets/pokeball-gif.gif" alt="Pokeball" class="pokeball-image-gif-pokedex position-absolute" style="right: -30px; top: 50%; transform: translateY(-50%);"> -->
      </button>
      
      <span *ngIf="showCheckIcon" class="position-absolute top-0 end-0 mt-3">
        <button class="btn-success position-relative">
          <span class="mx-2">Done!</span>
        </button>
      </span>
    </div>
  </div>
  