<div class="auth-buttons mx-2">
    <!-- Show login and signup buttons if user is not logged in -->
    <button *ngIf="!isLoggedIn" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
    <button *ngIf="!isLoggedIn" class="btn" data-bs-toggle="modal" data-bs-target="#signupModal">Sign Up</button>
    
    <!-- Show logout button if user is logged in -->
    
    <div *ngIf="isLoggedIn" class="container d-flex">
        <button class="btn" (click)="Logout()">Logout</button>
    </div>

  </div>
<!-- Login Modal -->
<div class="modal fade text-center" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                
                <img src="assets/pokeball.png" alt="Pokeball" class="pokeball-img">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Login form -->
                <form (ngSubmit)="Login()" [formGroup]="loginUser">
                    <div class="mb-3">
                        <label for="loginEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" formControlName="emailLogin" id="loginEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="loginPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="passwordLogin" id="loginPassword">
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Signup Modal -->
<div class="modal fade text-center" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <img src="assets/pokeball.png" alt="Pokeball" class="pokeball-img">
                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Signup form -->
                <form (ngSubmit)="SignUp()" [formGroup]="registerUser">
                    <div class="mb-3">
                        <label for="signupEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" formControlName="emailSignUp" id="signupEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="signupPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="passwordSignUp" id="signupPassword">
                    </div>
                    <div class="mb-3">
                        <label for="signupConfirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPasswordSignUp" id="signupConfirmPassword">
                    </div>
                    <button type="submit" class="btn">Signup</button>
                </form>
            </div>
        </div>
    </div>
</div>
