<div class="container mt-5 py-4">
    <div class="row p-2">
      <!-- Left column for Pokémon names and IDs -->
      <div class="col-md-5">
        <div class="card border border-black  m-4 py-2 overflow-auto"  style="max-height: 500px;"    >
          <div *ngFor="let pokemon of pokemonWithSprites">

            <div class="card-body border border-black m-1 d-flex align-items-center justify-content-center" (click)="selectPokemon(pokemon)">
                <img *ngIf="pokemon.spriteUrl" [src]="pokemon.spriteUrl" alt="Pokemon Sprite" class="pokemon-image-small">

                <div class="pokemon-details d-flex ">
                    <span *ngIf="pokemon.id" class="card-text">No: {{ pokemon.id }}</span>
                  <div class="spacer"></div>
                  <span class="card-title">{{ pokemon.name }}</span>
                </div>

              </div>
              
              

          </div>
          <!-- Placeholder for empty list -->
          <div *ngIf="pokemonWithSprites.length === 0" class="card-body d-flex">
            <span class="card-text">No Pokémon available</span>
          </div>
        </div>
      </div>
  
      <!-- Right column for Pokémon image -->
      <div class="col-md-7">
        <div class="card border border-black text-center m-2 right-section" style="height: 500px;">
          <img *ngIf="selectedPokemon && selectedPokemon.spriteUrl" [src]="selectedPokemon.spriteUrl" alt="Selected Pokemon Sprite" class="pokemon-image-pokedex">
          <img *ngIf="!selectedPokemon" src="../../../assets/placeholder-image.jpg" alt="Placeholder Image" class="pokemon-image-pokedex">
       
        </div>
      </div>
    </div>
  </div>
  